.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    gap: 50px;
}

@media (max-width: 800px) {
    .footer-links {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 460px) {
    .footer-links {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 370px) {
    .footer-links {
        display: flex;
        flex-direction: column;
    }
}

.link-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-item img {
    width: 150px;
    object-fit: contain;
    cursor: pointer;
}

@media (max-width: 1500px) {
    .link-item img {
        width: 160px;
    }
}

@media (max-width: 1280px) {
    .link-item img {
        width: 140px;
    }
}

@media (max-width: 1065px) {
    .link-item img {
        width: 120px;
    }
}

@media (max-width: 1000px) {
    .link-item img {
        width: 90px;
    }
}

@media (max-width: 800px) {
    .link-item img {
        width: 300px;
    }
}

@keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.link-item img:hover {
    animation: rotate-animation 5s infinite linear;
}
