.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    gap: 100px;
}

@media (max-width: 1000px) {
    .footer-links {
        padding-top: 130px;
    }
}

@media (max-width: 970px) {
    .footer-links {
        padding-top: 120px;
    }
}

@media (max-width: 960px) {
    /* Ajoute tes styles ici si nécessaire */
}

@media (max-width: 800px) {
    .footer-links {
        gap: 80px;
        padding-top: 110px;
    }
}

@media (max-width: 700px) {
    .footer-links {
        gap: 50px;
        padding-top: 100px;
    }
}

@media (max-width: 550px) {
    .footer-links {
        gap: 30px;
        padding-top: 60px;
    }
}

@media (max-width: 460px) {
    .footer-links {
        gap: 20px;
        padding-top: 20px;
    }
}

@media (max-width: 370px) {
    .footer-links {
        gap: 10px;
        padding-top: 10px;
    }
}

.link-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-item img {
    width: 180px;
    object-fit: contain;
    cursor: pointer;
}

@media (max-width: 1700px) {
    .link-item img {
        width: 170px;
    }
}

@media (max-width: 1500px) {
    .link-item img {
        width: 160px;
    }
}

@media (max-width: 1280px) {
    .link-item img {
        width: 140px;
    }
}

@media (max-width: 1065px) {
    .link-item img {
        width: 120px;
    }
}

@media (max-width: 1000px) {
    .link-item img {
        width: 90px;
    }
}

@media (max-width: 860px) {
    .link-item img {
        width: 80px;
    }
}

@media (max-width: 650px) {
    .link-item img {
        width: 70px;
    }
}

@media (max-width: 440px) {
    .link-item img {
        width: 60px;
    }
}

@media (max-width: 360px) {
    .link-item img {
        width: 50px;
    }
}

@keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.link-item img:hover {
    animation: rotate-animation 5s infinite linear;
}
