$primary-font: 'Sour_Gummy';
$primary-color: black;
$secondary-color: white;
$box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$banner-overlay: rgba(0, 0, 0, 0.3);
$gallery-bg: rgba(246, 246, 246, 1);

    .logo-header {
        width: 210px;
        height: 68px;
        margin-bottom: 20px;
        cursor: pointer;
            @media (max-width: 1024px) {
                width: 180px;
                height: 58px;
                    @media (max-width: 768px) {
                        width: 140px;
                        height: 45px;
                            @media (max-width: 576px) {
                                width: 120px;
                                height: 39px;
                                    @media (max-width: 480px) {
                                        width: 100px;
                                        height: 32px;
                                            @media (max-width: 400px) {
                                                width: 80px;
                                                height: 26px;
                                                    @media (max-width: 360px) {
                                                        width: 60px;
                                                        height: 19px;
                                                    }
                                            }
                                    }
                            }
                    }
            }
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        @media (max-width: 768px) {
            gap: 26px;
            padding: 15px;
                @media (max-width: 480px){
                    gap:16px;
                    padding: 10px;
                        @media (max-width: 500px) {
                            gap: 6px;
                            padding: 8px;
                        }
                }
        }
    }


    .ul-nav {
        display: flex;
        flex-direction: row;
        font-family: $primary-font;
        gap: 30px;
        list-style-type: none;
        cursor: pointer;
            @media (max-width: 480px){
                gap: 15px;
                    li {
                        font-size: 20px;
                        color: $primary-color;
                        cursor: pointer;
                            @media (max-width: 768px) {
                                font-size: 18px;
                                @media (max-width: 600px){
                                    font-size: 15px;
                                    @media (max-width: 500px){
                                        font-size: 12px;
                                            @media (max-width: 480px){
                                                font-size: 10px;
                                                gap: 15px;
                                            }
                                    }
                                }
                            }
                    }
            }
    }


    .inactive-link {
        text-decoration: none;
        color: $primary-color;
    }

    .active-link {
        text-decoration: underline;
        color: $primary-color;
        
    }

    .banner-accueil {
        position: relative;
        width: 100%;
        height: 300px;
        border-radius: 25px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: inherit;
                    @media (max-width: 1024px) {
                        height: 250px;
                            @media (max-width: 768px) {
                                height: 200px;
                                    @media (max-width: 480px) {
                                        height: 150px;
                                            @media (max-width: 320px) {
                                                height: 100px;
                                            }
                                    }
                            }
                    }
            }
    }
    
    .banner-accueil {
        position: relative;
        width: 100%;
        border-radius: 25px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: inherit;
                    @media (max-width: 1024px) {
                            @media (max-width: 768px) {
                                    @media (max-width: 480px) {
                                            @media (max-width: 320px) {
                                            }
                                    }
                            }
                    }
            }
    }
    
    .banner-title {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $primary-font;
        font-size: 55px;
        font-weight: bold;
        color: $secondary-color;
        text-align: center;
        border-radius: inherit;
        z-index: 2;
        background-color: $banner-overlay;
        text-shadow: -1px -1px 0 $primary-color, 
        1px -1px 0 $primary-color, 
        -1px 1px 0 $primary-color, 
        1px 1px 0 $primary-color;
            @media (max-width: 1400px) {
                font-size: 40px;
                    @media (max-width: 1024px) {
                        font-size: 30px;
                            @media (max-width: 768px) {
                                font-size: 20px;
                                    @media (max-width: 480px) {
                                        font-size: 16px;
                                            @media (max-width: 320px) {
                                                font-size: 10px;
                                            }
                                    }
                            }
                    }
            }
    }

    .footer-links {
        display: flex;
        justify-content: center; /* Aligne les liens horizontalement au centre */
        align-items: center; /* Centre les éléments verticalement */
        margin-top: -60px; /* Remonte le footer */
    
        @media (max-width: 768px) {
            gap: 20px;
            padding: 15px;
        }
    
        @media (max-width: 480px) {
            gap: 10px;
            padding: 10px;
        }
    
        .link-item {
            display: flex;
            justify-content: center;
            align-items: center;
    
            img {
                width: 400px; /* Taille des icônes */
                object-fit: contain;
                cursor: pointer;
                transition: transform 0.3s ease; /* Animation au survol */
    
                &:hover {
                    transform: scale(1.1); /* Zoom au survol */
                }
    
                @media (max-width: 768px) {
                    width: 40px;
                    height: 40px;
                }
    
                @media (max-width: 480px) {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
    
    






