$primary-font: 'Sour_Gummy';
$primary-color: black;
$secondary-color: white;
$box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$banner-overlay: rgba(0, 0, 0, 0.3);
$gallery-bg: rgba(246, 246, 246, 1);

.inserts-home {
    position: relative;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    border-radius: 10px;
}

.insert-title {
    font-family: $primary-font;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: $secondary-color;
    font-size: 50px;
    text-shadow: -1px -1px 0 $primary-color, 
    1px -1px 0 $primary-color, 
    -1px 1px 0 $primary-color, 
    1px 1px 0 $primary-color;
    @media (max-width: 1400px) {
        font-size: 40px;
    }
    @media (max-width: 1024px) {
        font-size: 30px;
    }
    @media (max-width: 768px) {
        font-size: 20px;
    }
    @media (max-width: 670px) {
        font-size: 15px;
    }
    @media (max-width: 480px) {
        font-size: 10px;
    }
    @media (max-width: 400px) {
        font-size: 8px;
    }
    @media (max-width: 320px) {
        font-size: 5px;
    }
}
