$primary-font: 'Sour_Gummy';
$primary-color: black;
$secondary-color: white;
$box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$banner-overlay: rgba(0, 0, 0, 0.3);
$gallery-bg: rgba(246, 246, 246, 1);

.inserts-home {
    position: relative;
    width: 100%;
        img {
            
        }
}

.insert-title {
    font-family: $primary-font;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: $secondary-color;
    font-size: 50px;
    text-shadow: -1px -1px 0 $primary-color,
    1px -1px 0 $primary-color,
    -1px 1px 0 $primary-color,
    1px 1px 0 $primary-color;

    @media (max-width: 1600px) {
        font-size: 40px;
    }
    @media (max-width: 1314px) {
        font-size: 30px;
    }
    @media (max-width: 1080px) {
        font-size: 20px;
    }
    @media (max-width: 812px) {
        font-size: 18px;
    }
    @media (max-width: 754px) {
        font-size: 15px;
    }
    @media (max-width: 680px) {
        font-size: 10px;
    }
    @media (max-width: 400px) {
        font-size: 8px;
    }
    @media (max-width: 320px) {
        font-size: 5px;
    }
}

.inserts-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les items horizontalement */
    padding: 20px; /* Padding autour de la section */
}

.insert-item {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espacement entre le texte et l'image */
    width: 80%;
    max-width: 1200px;
}

.chibi-kibi {
    width: 220px;
    height: auto; /* Préserve les proportions */
    @media (max-width: 1400px) {
        width: 180px;
        padding: 20px;
    }
    @media (max-width: 1024px) {
        width: 150px;
        padding: 20px;
    }
    @media (max-width: 768px) {
        width: 100px;
        padding: 20px;
    @media (max-width: 400px) {
        width: 80px;
        padding: 20px;
    }
    @media (max-width: 320px) {
        width: 20px;
    }
}
}

.chibi-kibi img {
    width: 100%; /* S'adapte à la largeur du conteneur */
    height: auto;
}




